### Testing the reading and output from created database

- Importing dataset from SQLite and ensure that we can output the labels

In [6]:
import sqlite3
import pandas as pd
import path

In [9]:
# # Create your connection.
path = "
cnx = sqlite3.connect(path)
# df = pd.read_sql_query("SELECT * FROM table_name", cnx)

OperationalError: unable to open database file